.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0px;
    transition: all 0.3s ease-in;
    padding-left: 70px;
    padding-right: 70px;
}
.header .logo {
    width: 65px;
    height: 65px;
    overflow: hidden;
    cursor: pointer;
}
.header .logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}
.header nav ul li {
    padding-right: 15px;
}

.resume {
    border: 2px solid var(--secondary);
    padding: 8px 15px;
    border-radius: 1px;
}
.resume:hover {
    background: var(--secondary);
    color: var(--primary) !important;
}

.header nav ul li a {
    text-transform: uppercase;
}
.header nav ul li a:hover {
    color: var(--secondary);
}

.responsiveMenu {
    display: none;
}

@media (max-width: 768px) {
    .header {
        position: relative;
        padding-left: 10px;
        padding-right: 10px;
    }
    .menu {
        width: 30px;
        height: 30px;
        background: var(--secondary);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        cursor: pointer;
    }
    .responsiveMenu {
        display: block;
    }
    .header .navigation {
        display: none;
    }
    .responsiveMenu__popup {
        position: absolute;
        top: 86px;
        left: 0;
        background: #1e3b46;
        width: 100%;
        height: auto;
    }
    .responsiveMenu__popup nav ul {
        display: block;
    }
    .responsiveMenu__popup nav ul li {
        padding-bottom: 15px;
        padding-right: 0px;
    }
    .responsiveMenu__popup nav ul .resumeWrapper {
        padding-top: 10px;
    }
}
