.home {
    margin-top: 80px;
}
.greetings {
    color: var(--secondary);
    font-size: 20px;
    margin: 0;
    margin-bottom: -10px;
}
.title {
    margin: 0;
    font-size: 55px;
    letter-spacing: 2px;
}
.subtitle {
    color: var(--secondary);
    margin-top: 10px;
    font-size: 25px;
    letter-spacing: 1px;
    margin-bottom: 0;
}

.designation {
    margin: 0;
    font-size: 18px;
}
.designation img {
    margin-left: 10px;
    margin-right: 10px;
}

.social {
    margin-top: 20px;
}
.social img {
    width: 25px;
    margin-right: 20px;
    cursor: pointer;
}
.cta {
    margin-top: 25px;
}
.cta .resume {
    background: var(--secondary);
    border: 2px solid var(--secondary);
    margin-right: 15px;
}

.cta .aboutMe {
    background: transparent;
    border: 2px solid var(--secondary);
    color: white;
}
